@font-face {
    font-family: concert;
    src: url("fonts/ConcertOne-Regular.ttf");
}
body{
    background-image: url("/gameLeague/view/resources/background-field.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
#user-label{
   font-family: concert;
   font-size: xx-large;
   background-color: rgba(255, 255, 255, 0.2);
}
#menuView{
    background-color: rgb(255, 255, 255, 0.5);
}
.loading{
    filter: invert(100%) sepia(0%) saturate(1718%) hue-rotate(152deg) brightness(117%) contrast(92%);
}
.card img{
    width: 100%;
}
#logo img{
    width: 450px;
}
    .card:hover{
        background-color: red;
    }
.container{
    background-color: white;
}
#store-container-card{
    overflow-y: scroll;
}
#store-container-card div{
    cursor: pointer;
}
.progress label{
    color: black;
    font-weight: bold;
}
#container-time{
    width: 8%;
    min-width: 50px;
    position: absolute;
    top: 60%;
    left: 55%;
    z-index: 88;
}
#container-time{
    background-color: rgb(255, 255, 255, 0.5);
}
